<p>
  <a href="/private/findPost/searchbymyPost"> My Post</a>.
</p>

<p>
  <a href="/private/findPost/searchbyCity"> Find By city</a>.
</p>

<p>
  <a href="/private/findPost/searchbyschoolName"> Find By University</a>.
</p>