<p>
  <a href="/private/findPost/myPost"> My Post</a>.
</p>

<p>
  <a href="/private/findPost/searchbyCity"> Find By city</a>.
</p>

<p>
  <a href="/private/findPost/searchbyUniversity"> Find By University</a>.
</p>