<h1>Find by city</h1>
<form action="private/searchbyCity" id="city_search" method="POST">

  <div>
    <label>city</label>
    <select id="city" name="city" required>
      <option value="austin">Austin</option>
      <option value="boston">Boston</option>
      <option value="chicago">Chicago</option>
      <option value="denver">Denver</option>
      <option value="hoboken">Hoboken</option>

      <option value="jersey_city">Jersey City</option>
      <option value="new_york">New York</option>

      <option value="phoenix">Phoenix</option>
      <option value="san_francisco">San Francisco</option>
      <option value="san_jose">San Jose</option>
      <option value="seattle">Seattle</option>
    </select>
  </div>

</form>