<h1>Search city wise </h1>
<form action="searchbyCity" id="city_search" method="POST">

  <div>
    <label for="city">City</label>
    <select id="city" name="city" required>
      <option value="Austin">Austin</option>
      <option value="Boston">Boston</option>
      <option value="Chicago">Chicago</option>
      <option value="Denver">Denver</option>
      <option value="Hoboken">Hoboken</option>

      <option value="Jersey City">Jersey City</option>
      <option value="New York">New York</option>

      <option value="Phoenix">Phoenix</option>
      <option value="San Francisco">San Francisco</option>
      <option value="San Jose">San Jose</option>
      <option value="Seattle">Seattle</option>
    </select>
    <br />
  </div>

  <label for="btn">Submit:</label>
  <button type="submit" id="btn">Submit</button>

</form>

{{#if errors}}
  <h2>{{errors}}</h2>
{{/if}}

<ul class="post_list">
  {{#each allpost}}
    <li> {{this}}</li>
    <br />
  {{/each}}
</ul>