<form action="/CreatePost" id="CreatePost" method="POST">

<label for="sizeOfApartment">sizeOfApartment:</label>
<input id="sizeOfApartment" name="sizeOfApartment" value=6 type="number" placeholder="1 BHK" required>
<br/>

<label for="petsAllowed">petsAllowed:</label>
<select id="petsAllowed" name="petsAllowed" required>
     <option value="False">False</option>
    <option value="True">True</option>
   
</select>
<br/>

<label for="coupleAllowed">coupleAllowed:</label>
<select id="coupleAllowed" name="coupleAllowed" required>
    <option value="False">False</option>
    <option value="True">True</option>
</select>
<br/>

<label for="parkingAvailable">parkingAvailable:</label>
<select id="parkingAvailable" name="parkingAvailable" required>
    <option value="False">False</option>
    <option value="True">True</option>
   
</select>
<br/>

<label for="sharingAllowed">sharingAllowed:</label>
<select id="sharingAllowed" name="sharingAllowed" required>
    <option value="False">False</option>
    <option value="True">True</option>
</select>
<br/>

</select>
    <br />
    <label for="city">City:</label>
    <select id="city" name="city" required>
      <option value="austin">Austin</option>
      <option value="boston">Boston</option>
      <option value="chicago">Chicago</option>
      <option value="denver">Denver</option>
      <option value="hoboken">Hoboken</option>

      <option value="jersey_city">Jersey City</option>
      <option value="new_york">New York</option>

      <option value="phoenix">Phoenix</option>
      <option value="san_francisco">San Francisco</option>
      <option value="san_jose">San Jose</option>
      <option value="seattle">Seattle</option>

    </select>
    <br />

    <label for="state">State:</label>
    <select id="state" name="state" required>
      <option value="arizona">Arizona</option>
      <option value="california">California</option>
      <option value="colorado">Colorado</option>
      <option value="illinois">Illinois</option>
      <option value="texas">Texas</option>
      <option value="massachusetts">Massachusetts</option>
      <option value="new_jersey">New Jersey</option>
      <option value="new_york">New York</option>
      <option value="washington">Washington</option>
    </select>
    <br />

    <label for="Comment">Comment:</label>
    <textarea rows="2" cols="50" id="Comment" name="Comment"
    placeholder="Enter additional message"></textarea>

    <button type="submit" id="btn">submit</button>

</form>