<div class="form">

  <label>Username</label>

  <input
    id="username"
    name="username"
    type="text"
    placeholder="Enter username"
    spellcheck="false"
    required
  />
  <br />

  <label for="securityQues">Security Question</label>

  <select id="securityQues" name="securityQues" required>
    <option value="None">None</option>
    <option value="What is your nickname?">What is your nickname?</option>
    <option value="Which is your favourite place to spend vacation?">Which is
      your favourite place to spend vacation?</option>
    <option value="Who is your first childhood friend?">Who is your first
      childhood friend?</option>
    <option value="Which is your favourite video game?">Which is your favourite
      video game?</option>

  </select>
  <br />
  <label>Answer</label>

  <input
    id="securityAns"
    name="securityAns"
    type="text"
    placeholder="Answer to the security question"
    spellcheck="false"
    required
  />
  <br />

</div>