<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Roomie</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<main>
  <div class="login_card">
    <h1>login</h1>
    <form action="/login" id="login-form" method="POST">

      <div class="mb-3">
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          type="text"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <a id="forgot" class="link-primary" href="/forgot">Forgot Password?</a>
    <br />

    <a id="signup_link" href="/signup">Need to register? Click here to sign-up</a>
  </div>
</main>