body {
  /* background-image: url(/public/images/back.png); */
  /* background-image: url("/public/images/back.jpg");
  background-color: #cccccc; */
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

a {
  color: red;
}

/* Login page css */
.login_card {
  margin: 100px auto;
  width: 90%;
  max-width: 440px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
}
.login_card h1 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}

.mb-3 {
  margin-left: 20px;
  margin-right: 20px;
}

.login_card input {
  width: 50%;
  height: 30px;
}
.login_card label {
  padding-top: 20px;
  width: 30%;
  text-align: left;
}

/* Forgot Pass css */

.forgotPassCont {
  margin: 50px auto;
  width: 90%;
  max-width: 500px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: dimgray;
}

.forgotPassCont h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid dimgray;
}

.forgotPassCont .form {
  padding-top: 30px;
}

#exampleDropdownFormPassword1 {
  width: 40%;
  align-items: center;
}
.forgotPassCont input,
select {
  width: 50%;
}

.forgotPassCont label {
  width: 30%;
  padding-bottom: 10px;
  text-align: left;
}

/* Sign up css */
.signup_card {
  margin: 100px auto;
  width: 90%;

  max-width: 500px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
}
.signup_card h1 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}

.signup_card label {
  width: 35%;
  font-weight: bold;
  text-align: left;
}

.signup_card select,
input {
  width: 50%;
}

.signup_card label,
p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: dimgray;
}

.signup_card p {
  font-weight: bold;
}

.signup_card a {
  padding-bottom: 20px;
}

.signup_card .form-control {
  width: 60%;
}

.signup_card #picture {
  height: 30px;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
}

.signup_card button {
  margin-top: 20px;
}

/* #login-form {
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
} */

input {
  padding-left: 3px;
}
/* User profile css */

.user_profile {
  margin: 50px auto;
  width: 90%;
  max-width: 500px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
}

.user_profile_card img {
  width: 200px;
  height: auto;
  position: relative;
  clip-path: circle();
  margin-top: 20px;
  margin-bottom: 20px;
}

.user_profile h1 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}

.user_profile .btn-primary {
  margin-bottom: 20px;
}

.user_profile a {
  margin-bottom: 20px;
}

/* Edit profile css */

.edit_profile h1 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}

.edit_profile {
  margin: 50px auto;
  width: 90%;
  max-width: 440px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
}

.edit_profile button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit_profile_card img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  clip-path: circle();
}

.image_upload_option {
  width: 20%;
  height: 30px;
  margin: 0 auto;
}

.edit_profile label {
  font-weight: bold;
  width: 35%;
  text-align: left;
  color: dimgray;
}

.edit_profile select,
input {
  width: 50%;
}

.edit_profile label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit_profile #picture {
  height: 40px;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
}

/* About Us */
.about_us {
  margin: 100px auto;
  width: 50%;

  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
}
.about_us h1 {
  color: black;
}
.about_us h2 {
  font-size: 20px;
  color: dimgray;
  padding-bottom: 20px;
  border-bottom: 1px solid lightslategray;
}
.about_us h3 {
  color: gray;
}
.about_us_body {
  width: 90%;
  margin: 0 auto;
}
.about_us_body ul {
  list-style: none;
}
.about_us_body p {
  text-align: justify;
}
/* Post room and roommate css */
.heading-room {
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.postform--group {
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.postform #picture {
  width: 300px;
  height: 30px;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
}
.postform--group {
  margin: 100px auto;
  width: 90%;
  max-width: 440px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
}
.postform--group {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}

.postform--group h1 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}

.postform--group label {
  padding-top: 10px;
  padding-bottom: 10px;
  color: dimgray;
}
.postform--group {
  padding-top: 10px;
  padding-bottom: 10px;
}
.postform--group label {
  font-weight: bold;
  width: 35%;
  text-align: left;
  color: dimgray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.postform--group button {
  padding-top: 10px;
  padding-bottom: 10px;
}
.postform--group select,
input {
  width: 200px;
  height: 25px;
  margin: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.h4-pvt {
  margin-top: 10px;
  text-align: left;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-item {
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  border: 2px solid #fe4e4e;
  box-shadow: 0px 2px 5px 0px var(--clr-gray);
  background-color: #ffffff;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  padding: 10px;
  width: 200px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: auto;
  margin: 50px auto;
  width: 50%;
  max-width: 440px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}
.grid-item label {
  padding-top: 20px;
  padding-bottom: 20px;
  color: dimgray;
  width: 200px;
  height: 25px;
  margin: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: dimgray;
  justify-content: space-between;
}

.grid-item a {
  position: static;
  padding-top: 20px;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.searchbyheader {
  text-align: center;
  padding-top: 20px;
}
.searchby-option {
  text-align: center;
}

.cssroom-div label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}
.searchby-option label {
  font-weight: bold;
  line-height: 26px;
}

.images {
  display: inline-block;
  flex-wrap: wrap;
  margin: 0 auto;
}

.photo {
  max-width: 60.333%;
  padding: 0 10px;
  height: 70px;
  display: flex;
}

.photo img {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  display: table-row;
}
.contactus {
  margin: 100px auto;
  width: 90%;

  max-width: 500px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  padding-bottom: 10px;
}
.contactus h1 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}

.contactus label {
  width: 35%;
  font-weight: bold;
  text-align: left;
}

.contactus select,
input {
  width: 50%;
}

.contactus label,
p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: dimgray;
}

.contactus p {
  font-weight: bold;
}

.contactus a {
  padding-bottom: 20px;
}

.contactus .btn-primary {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
  height: 40px;
}

.grid-container-message {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-item-message {
  position: fixed;
  top: -900px;
  left: 700px;
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  border: 2px solid #fe4e4e;
  box-shadow: 0px 2px 5px 0px var(--clr-gray);
  background-color: #ffffff;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  padding: 10px;
  width: 200px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: auto;
  margin: 50px auto;
  width: 50%;
  max-width: 440px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}
.grid-item-message label {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  color: dimgray;
  width: 200px;
  height: 25px;
  margin: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: dimgray;
  justify-content: space-between;
}
.grid-item-message a {
  position: static;
  padding-top: 20px;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.grid-item-message h3 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}
.grid-container h3 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}

/* Comment input css */

/* Post room individual css */

.postRoomContainer {
  margin: 100px auto;
  width: 90%;
  max-width: 440px;
  height: 900px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
}

.postRoomContainer label {
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
}
.postRoomContainer .commentinput {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid black;
}

.postRoomContainer .commentinput input {
  width: 80%;
  margin-top: 10px;
}

.postRoomContainer .commentinput button {
  margin-top: 20px;
}

/* Post toom inidividual message input css */

.postRoomContainer .postRoomMessage {
  border-top: 1px solid black;
  margin-top: 50px;
  padding-top: 20px;
}

.postRoomContainer .postRoomMessage button {
  margin-top: 20px;
}

/* Individual roommate post */
/* Post room individual css */

.postRoommateContainer {
  margin: 100px auto;
  width: 90%;
  max-width: 440px;
  height: 1000px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
}

.postRoommateContainer label {
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
}
.postRoommateContainer .commentinput {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid black;
}

.postRoommateContainer .commentinput input {
  width: 80%;
  margin-top: 10px;
}

.postRoommateContainer .commentinput button {
  margin-top: 20px;
}

/* Post toom inidividual message input css */

.postRoommateContainer .postRoommateMessage {
  border-top: 1px solid black;
  margin-top: 50px;
  padding-top: 20px;
}

.postRoommateContainer .postRoommateMessage button {
  margin-top: 20px;
}
.grid-container-comments {
  display: fixed;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-item-comments {
  top: -800px;
  left: 600px;
  bottom: 50px;
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  border: 2px solid #fe4e4e;
  box-shadow: 0px 2px 5px 0px var(--clr-gray);
  background-color: #ffffff;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  padding: 10px;
  width: 200px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: auto;
  margin: 50px auto;
  width: 50%;
  max-width: 440px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}
.grid-item-comments label {
  font-size: small;
  color: dimgray;
}
.grid-item-comments a {
  font-size: medium;
  font-weight: bold;
  color: dimgray;
}
.grid-item-comments h3 {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  color: black;
}
.grid-container-messagepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.grid-item-messagepage {
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;

  overflow: hidden;

  box-shadow: 0px 2px 5px 0px var(--clr-gray);

  border-radius: 1rem;
  position: relative;

  max-width: 440px;
  color: black;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);

  backdrop-filter: blur(5px);

  margin-top: 10px;

  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}
.grid-item-messagepage label {
  font-size: small;
  color: dimgray;
}
.grid-item-messagepage groupmessage-class {
  font-size: medium;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid dimgray;
  width: 500px;
  height: 50px;
  margin: 20px auto;
}
.grid-item-messagepage a {
  border-bottom: 1px solid #006ebd;
  padding-bottom: 10px;
}
.grid-item-messagepage h2 {
  margin-top: 10px;
  text-align: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  padding-top: 20px;
  color: black;
  background-color: aliceblue;
}

.grid-item-messagepage h5 {
  padding-top: 10px;
  font-weight: bold;
}

.groupmessage-class {
  text-align: center;
  color: dimgray;
}
.labelmessage-individual {
  font-weight: bold;
  font-size: large;
}

/* Individual message page */
.indiMessage label {
  width: 80%;
}

.indiMessage form {
  border-top: 1px solid black;
}

.indiMessage form label {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.indiMessage form input {
  width: 80%;
}

.indiMessage form button {
  margin-top: 20px;
}

/* Group message css */
.groupMessageCont {
  margin: 100px auto;
  width: 90%;
  max-width: 440px;
  height: 300px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: #333;
}

.groupMessageCont h2 {
  font-size: 30px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightslategray;
}

.groupMessageCont input {
  width: 70%;
  margin: 20px;
  padding: 10px;
}
