body {
  /* background-image: url(/public/images/back.png); */
  background-image: url("/public/images/back_new.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding-left: 30%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
h1 {
  color: blue;
  margin-bottom: 5px;
}
h2 {
  color: red;
}

label {
  font-weight: bold;
  color: rgb(101, 47, 202);
}

#btn {
  color: red;
  background-color: aqua;
  width: 10%;
}

#btn:hover {
  background-color: green;
}

#btn:active {
  color: #00ff4c;
}

.form {
  background-color: #00ff4c;
  padding-left: 40px;
  padding-top: 40px;
}

a {
  color: red;
}

#signup-form {
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

#login-form {
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

input {
  padding-left: 3px;
}
/* User profile css */
.user_profile {
  margin-top: 50px;
}

.user_profile {
  margin: 20px auto;
  width: 90%;
  max-width: 440px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: floralwhite;
}

.user_profile_card img {
  margin-top: 20px;
  width: 25%;
  height: 25%;
  clip-path: circle();
}

.user_profile h1 {
  margin-top: 10px;
  text-align: center;
}

.user_profile .btn-primary {
  margin-bottom: 20px;
}

/* Edit profile css */

.edit_profile h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit_profile_card {
  margin: 0 auto;
  width: 90%;
  max-width: 440px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
  text-indent: none;
  color: dimgray;
}
.edit_profile_card textarea {
  width: 70%;
  height: 50px;
}

.edit_profile_card img {
  width: 25%;
  height: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  clip-path: circle();
}

#image_upload_option {
  width: 70%;
  margin: 0 auto;
}

.edit_profile .delete_btn_box {
  width: 150px;
  height: 30px;
  background-color: rgb(156, 32, 32);
  border-radius: 10px;
  margin: 20px auto;
}
.edit_profile .delete_btn {
  color: #fff;
  text-decoration: none;
  padding-left: 25px;
}
